body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

header {
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;

  align-items: center;
}

header .logo {
  max-width: 70px;
  height: auto;
  margin-right: 10px;
}

 h3 {
  font-size: 2.5em;
  font-weight:200;
  margin: 0;
}

header nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

header nav a:hover {
  background-color:orange;
  color: black;
}

.main-content {
  display: flex;
  width: 120%;
}

aside {
padding-top: 0;
  background-color: white;
  padding: 20px;
}



aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  padding: 10px;
  background-color:white;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

aside ul li i {
  margin-right: 10px;
}

aside ul li:hover {
  background-color: darkgrey;
}

/* Custom styles for the footer */
.footer {
  background-color:whitesmoke;
  color:black;
  padding: 20px 0;
}

.footer .list-unstyled li a {
  color:black; /* Change link color */
  text-decoration: none; /* Remove underline */
}

.footer .list-unstyled li a:hover {
  color:black; /* Change link color on hover */
  background-color: lightgrey;
}

.btn-get-started {
  background-color: #2ACFCF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-get-started:hover {
  background-color: #1D9FA3;
}

.footer .bi-facebook,
.footer .bi-twitter,
.footer .bi-instagram {
  margin-right: 5px;
  color: black;
}


.box {
  border: 0px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  width:100%;
  text-align: center;
}

.zigzag-container {
  display: flex;
  flex-wrap: wrap;
}

.zigzag-item {
  flex: 1;
  margin: 10px;
}

.zigzag-description {
  padding: 10px;
}

.testimonials {
  padding: 20px;
}

.testimonial {
  margin-bottom: 20px;
}

.content {
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}
input[type="submit"] {
  margin-top: 5px;
   color:white ; /*Button text color */
   border: none; /* Remove button border */
   padding: 10px 10px; /* Add padding to the button */
   border-radius: 5px; /* Add border radius to the button */
   cursor: pointer; /* Add cursor pointer on hover */
   font-size: 16px; /* Adjust font size */
   transition: background-color 0.3s; /* Add transition effect to background color */
}

/* Hover effect */
input[type="submit"]:hover {
   background-color:orange; /* Change background color on hover */
}

   .search-container input[type=text] {
 
       flex: 1;
       
       padding: 9.9px;
       border-radius: 5px 0 0 5px;
    
       border-right: 3;
   }

   .search-container button {
    padding: 10px;
       padding:13px  33px;
       background-color: #FFCA28;
       border: none;
       border-radius: 0 5px 5px 0;
       cursor: pointer;
       transition: background-color 0.3s;
   }

   .search-container button:hover {
       background-color: #e0a8ae;
   }
   .brand-description {
    font-family: 'Dancing Script', cursive;
    font-size: 1.0rem;
    color: #333;
  }




.brand-name {
  margin: 10px 0;
}

.brand-description {
  position:relative;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color: #333;
 
}

/* Light Theme (default) */
body.light {
  background-color: #f8f9fa;
  color: #333;
}

body.light header {
  background-color: #fff;
  color: #333;
}

body.light nav a {
  color: black;
}

body.light .btn-primary {
  background-color:orange;
  border-color: #007bff;
}

/* Dark Theme */
body.dark {
  background-color: #333;
  color: #f8f9fa;
}

body.dark header {
  background-color: #222;
  color: #f8f9fa;
}

body.dark nav a {
  color: white;
}

body.dark .btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
}
.brand-description.dark {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color:white;
}
